body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(249, 249, 233);
}

h2{
    font-size: 50px;
}

header{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #e6ccff, #ffccff);
    align-items: center;
    width: 100%;
}

.links a{
    color: black;
    margin-right: 40px;
    font-size: 30px;
}

.links a:hover{
    opacity: 0.2;
}

.title a{
    text-decoration: none;
    color: black;
}

.title a:hover{
    opacity: 0.2;
}

.main {
    border: 5px solid #e6ccff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-top: none;
}

.presentation{
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center;
    background-image: linear-gradient(45deg, #e6ccff, #ffccff);
    width: 100%;
}

.food{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #b3d9ff, #66b3ff);
    border-radius: 50px;
    width: 800px;
}

.food:hover{
    opacity: 0.7;
}

.food img{
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    width: 400px; /* Defina a largura desejada */
    height: 300px; /* Defina a altura desejada */
    object-fit: cover; /* Para manter a proporção da imagem */
}

.food a{
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}